@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Athiti&display=swap');

* {
    font-family: Athiti, sans-serif;
}


.logo {
    font-family: Allerta Stencil, sans-serif;
    color: white;
    
}

.custom-nav {
    background: #8fac42;
    
}


.box {
    height: 300px;
    /* border: 1px solid black; */
    margin-top: 80px;
}

.box > h3 {
    color: #8fac42;
    font-weight: 900;
}

.about-card {
    max-width: 100%;
    max-height: 40vh;
    margin-top: 5%;
}

.card-img-top {
    width: 100%;
    height: 18vw;
    object-fit: cover;
}


/* recipe details custom css */


.detail-img {
    margin: 0 auto;
    width: 55%;
    height: 35vw;
    object-fit: cover;
    position: relative;
}

.recipe-detail-heading {
    font-size: 2em;
    font-weight: bold;
}
.author {
    font-style: italic;
}

.recipe-detail-card {
    width: 60%;
    margin: 0 auto;
}

h4 {
    font-weight: bold;
    color: #7d807e;
    text-decoration: underline;
}

.delete-recipe {
    text-decoration: none;
    color: #9e0606;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: 0;
    padding-top: 0;
    margin-top: 0;
}

.delete-recipe span {
    display: none;
}

.delete-recipe:hover span {
    display: inline;
    position: absolute;
    top: 0px;
    left: 15px;
    font-weight:100;
}
    


/* comments section */
.comment-card {
    border-radius: 0%;
    max-width: 60%;
    margin: 0 auto;
}

.comment-body {
    background-color: #f1f2f2;
    padding: 5px 15px;
    margin-bottom: 10px;
    position: relative;
}

.wrote-on {
    font-weight: 900;
}

.delete-comment {
    text-decoration: none;
    color: #9e0606;
    font-weight: bold;
    
    position: absolute;
    top: 0;
    right: 10px;
}

.delete-comment span {
    display: none;
}

.delete-comment:hover span {
    display: block;
    position: absolute;
    top: 0px;
    left: 15px;
    font-weight:100;
}

.edit-comment {
    position: absolute;
    top: 6px;
    right: 40px;
    font-size: .8em;
}



.post-comment {
    border-radius: 0%;
    max-width: 60%;
    margin: 0 auto;
}


.card-body textarea {
    height: 15vh;
}




/* login page */
.img-position-relative {
    position: relative;
}

.login-head {
    background-color: #f1f2f2;
}

.login-head > h1 {
    color: #8fac42;
    margin-top: 10%;
    padding-top: 50px;
}

.login-head > p {
    font-size: 1.4em;
    padding-bottom: 50px;
    margin-bottom: 5%;
}

.login-head a {
    color: #8fac42;
    text-decoration: none;
    font-weight: bold;
}

.login-img {
    position: absolute;
    bottom: 0;
    left: 15px;
    
}

.login {
    margin-bottom: 20%;
}

.login input {
    border: 1px solid #8fac42;
}

/* Registeration page */
.signup {
    margin-bottom: 15%;
}

.signup-img {
    position: absolute;
    bottom: 0;
    right: 15px;
}
.signup label {
    width: 140px;
    display: inline-block;

}

.signup input {
    border: 1px solid #8fac42;
}

.btn-green{
    background-color: #8fac42;
    color: white;
}

/* Logout page */
.logout {
    padding: 50px 0 50px 0;
    margin-top: 10%;
    margin-bottom: 30%;
    background-color: #f1f2f2;
}

.logout h1 {
    font-weight: 900;
    color: #8fac42;
}

/* Add recipe section */

.create-recipe {
    text-align: center;
    
}

.create-recipe input, .create-recipe textarea{
    border: 1px solid #8fac42;
    
}

.create-recipe input {
    width: 40%;
    margin: 0 auto;
}
.create-recipe textarea {
    width: 60%;
}


.create-recipe label {
    margin-top: 2%;
    font-weight: 900;
}

/* footer style  */
.footer-line {
    width: 40%;
    margin: 2% auto;
}
.social-media {
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2%;
}


.social-media > li {
    list-style: none;
}


.social-media i {
    font-size: 150%;
    color: #8fac42;
}

/* Likes section */
.likes {
    width: 60%;
    margin: 2% auto;
}


.likes button {
    color: #E84610;
    border: none;
    background: transparent;
}





@media screen and (min-width: 640px) {
    .card-height {
        width: 100%;
        height: 50vh;
    }

}

/* max widths */
@media screen and (max-width: 1100px) {
    /* recipe details page */
    .detail-img {
        width: 80%;
        height: 50vw;
        
    }

    .recipe-detail-card {
        width: 80%;
    }

    .likes {
        width: 80%;
        
    }
    
    .comment-card {
        max-width: 80%;
        
    }

    .post-comment {
        max-width: 80%;
        
    }

}



@media screen and (max-width: 800px) {
    /* recipe detail page */
   

    /* login and signup */
    .login-img {
        display: none;
    }

    .signup-img {
        display: none;
    }

    /* footer */
    .social-media {
        width: 40%;
    }

}


@media screen and (max-width: 640px) {
    .about-card {
        justify-content: center;
    }
    
    .card-img-top {
        width: 100%;
        height: 40vw;
       
    }
    .footer-line {
        width: 60%;
    }
    
    /* comment section */
    .post-comment {
        width: 40%;
    }

}

@media screen and (max-width: 400px) {
    .login-head > p {
        font-size: 1.2em;
    }

}
