@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Athiti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    font-family: Athiti, sans-serif;
}

/* ----this was added to keep footer at the bottom credit 30secondsofcode */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
}

footer {
    margin-top: auto;
  }
/* ---------------------------------------------------------------- */

.logo {
    font-family: Allerta Stencil, sans-serif;
    color: white;
}

/* Nav Bar */
.custom-nav {
    background: #8fac42;
}

.nav-link {
    padding-left: 2px;
}

.active {
    font-weight: 600;
}

/* Index Page */
.home-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('https://res.cloudinary.com/dudp7r482/image/upload/v1677092172/home_wp1kai.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.home-heading {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 21%;
    text-align: center;
    text-shadow: 0.5px 0.5px #111111;
    color: #8fac42;
    font-family: satisfy, sans-serif;;
    font-size: 3em; 
}

.box {
    width: 42%;
    margin-top: 80px;
    color: white;
    position: absolute;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 22%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 2%;
    padding-bottom: 2%;
}

.box > h3 {
    font-weight: 900;
    margin-top: 2%;
}

.box p {
    margin: 10px;
}

.about-card {
    max-width: 100%;
    max-height: 40vh;
    margin-top: 5%;
}

/* displays image in recipes and wines page */
.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover; 
}


/* recipe details Page */

.detail-img {
    margin: 0 auto;
    width: 55%;
    height: 60vh;
    object-fit: cover;
    position: relative;
}

.recipe-detail-heading {
    font-size: 2em;
    font-weight: bold;
}

.author {
    font-style: italic;
}

.recipe-detail-card {
    width: 60%;
    margin: 0 auto;
}

h4 {
    font-weight: bold;
    color: #7d807e;
    text-decoration: underline;
}

/* Delete recipe  */
.delete-recipe {
    text-decoration: none;
    color: #9e0606;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: 0;
    padding-top: 0;
    margin-top: 0;
}

/* edit recipe */
.edit-recipe {
    position: absolute;
    top: -4px;
    right: 30px;
}
    


/* comments section on recipe details page*/
.comment-card {
    border-radius: 0%;
    max-width: 60%;
    margin: 0 auto;
}

.comment-body {
    background-color: #f1f2f2;
    padding: 15px 15px 5px 15px;
    margin-bottom: 10px;
    position: relative;
}

.wrote-on {
    font-weight: 900;
}

/* delete comment */
.delete-comment {
    text-decoration: none;
    color: #9e0606;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 10px;
}

.delete-comment span {
    display: none;
}

.delete-comment:hover span {
    display: block;
    position: absolute;
    top: 0px;
    left: 15px;
    font-weight:100;
}

/* edit comment */
.edit-comment {
    position: absolute;
    top: 6px;
    right: 40px;
    font-size: .8em;
}

/* posting a comment on recipe details page */
.post-comment {
    border-radius: 0%;
    max-width: 60%;
    margin: 0 auto;
}

.card-body textarea {
    height: 15vh;
}

/* wine detail image */
.wine-img {
    height: 60vh;
}

/* wine form for adding and editing wine*/
.wine-form select {
    width: 50%;
    margin: 0 auto;
    border-color: #8fac42;;
}


/*Delete modal for wines*/
.modal-delete {
    background-color: #dedede;
    font-weight: bold;
}

/* login page */
.img-position-relative {
    position: relative;
}

.login-head {
    background-color: #f1f2f2;
}

.login-head > h1 {
    color: #8fac42;
    margin-top: 10%;
    padding-top: 50px;
}

.login-head > p {
    font-size: 1.4em;
    padding-bottom: 50px;
    margin-bottom: 5%;
}

.login-head a {
    color: #8fac42;
    text-decoration: none;
    font-weight: bold;
}

.login-img {
    position: absolute;
    bottom: 0;
    left: 15px;   
}

.login {
    margin-bottom: 20%;
}

.login input {
    border: 1px solid #8fac42;
}

/* Registeration page */
.signup {
    margin-bottom: 15%;
}

.signup-img {
    position: absolute;
    bottom: 0;
    right: 15px;
}
.signup label {
    width: 140px;
    display: inline-block;

}

.signup input {
    border: 1px solid #8fac42;
}

.btn-green{
    background-color: #8fac42;
    color: white;
}

/* Logout page */
.logout {
    padding: 50px 0 50px 0;
    margin-top: 10%;
    margin-bottom: 30%;
    background-color: #f1f2f2;
}

.logout h1 {
    font-weight: 900;
    color: #8fac42;
}

/*Forms for adding recipes, wine and editing wine*/
.create-form {
    text-align: center;
}

.create-form input, .create-form textarea{
    border: 1px solid #8fac42;
}

.create-form input {
    width: 80%;
    margin: 0 auto;
}

.create-form label {
    margin-top: 2%;
    font-weight: 900;
}

/* Likes section */
.likes {
    width: 60%;
    margin: 2% auto;
}

.likes button {
    color: #E84610;
    border: none;
    background: transparent;
}

/* footer style  */
.footer-line {
    width: 30%;
    margin: 2% auto;
}

.social-media {
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-bottom: 2%;
    padding-left: 0;
}

.social-media > li {
    list-style: none;
}

.social-media i {
    font-size: 150%;
    color: #8fac42;
}

/* this is just on hero image */
@media screen and (min-width: 640px) {
    .card-height {
        width: 100%;
        height: 50vh;
    }

}

/* max widths */
@media screen and (max-width: 1100px) {
    /* recipe details page */
    .detail-img {
        width: 80%;  
    }

    .recipe-detail-card {
        width: 80%;
    }

    .likes {
        width: 80%; 
    }
    
    .comment-card {
        max-width: 80%;
    }

    .post-comment {
        max-width: 80%;
    }
   

}


@media screen and (max-width: 800px) {
    /* index page */
    .box {  
        width: 50%; 
         
    }

    /*Forms for adding recipes, wine and editing wine*/
    .create-form input {
        width: 100%;
        margin: 0;
    }

    .create-form label {
        margin-top: 2%;
        font-weight: 700;
        text-align: left;
    }
  
   .center-medium {
        text-align: center;
   }


   /* Delete and edit on recipe details page */
   .delete-recipe {
        font-size: larger;
        font-weight: bold;
        top: -7px;
        right: 5px;
    }

    .edit-recipe {
        position: absolute;
        top: 0;
        right: 35px;
    }
    
    
    /* login and signup */
    .login-img {
        display: none;
    }

    .signup-img {
        display: none;
    }

    /* footer */
    .footer-line {
        width: 50%;
    }
    
    .social-media {
        width: 40%;
    }
    
}


@media screen and (max-width: 640px) {
    /* home page */
    .box {  
        width: 70%;   
        background-color: rgba(0, 0, 0, 0.3); 
    }
    
     /* displays image in recipes and wines page */
    .card-img-top {
        width: 100%;
       
    }

    /* recipe details page */
    .detail-img {
        width: 90%;
    }

    .recipe-detail-card {
        width: 95%;
        margin: 0;
    }
   
    /* recipe delete modal */
    .recipe-delete-modal {
        width: 90%;
        margin-right: 10%;
        
    }

    /* comment section  */
    .comment-card {
        max-width: 95%;  
    }

    .comment-body {
        padding: 20px 5px 5px 5px;
        font-size: .9em;
    }

    .wrote-on {
        font-size: .9em;
    }

    .post-comment {
        max-width: 95%;
        margin-bottom: 5%;
    }

    .post-comment-body {
        padding: 3px;
    }

    .post-comment-body textarea {
        height: 25vh;
        border-radius: 0;
        font-size: .9em;
    }

    .post-comment-body button {
        font-size: small;
        border-radius: 0;
    }

    /* footer section */
    .footer-line {
        width: 60%;
    }
    
}

/* extra small screens */
@media screen and (max-width: 420px) {
    /* home */
    .home-heading {
        top: 10%;
        font-size: 2.5em;
    }

    .box {  
        width: 90%;
        top: 8%;   
        background-color: rgba(0, 0, 0, 0.4); 
    }
    
    .login-head > p {
        font-size: 1.2em;
    }

    .detail-img {
        width: 100%;
    }

    /* comment section */
    .comment-card > .card-body {
        padding: 0;
    }

    .btn {
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem;
    }


}
