@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Athiti&display=swap');

* {
    font-family: Athiti, sans-serif;
}


.logo {
    font-family: Allerta Stencil, sans-serif;
    color: white;
    
}

.custom-nav {
    background: #8fac42;
    
}


.box {
    height: 300px;
    /* border: 1px solid black; */
    margin-top: 80px;
}

.box > h3 {
    color: #8fac42;
    font-weight: 900;
}

.about-card {
    max-width: 100%;
    max-height: 40vh;
    margin-top: 5%;
}

.card-img-top {
    width: 100%;
    height: 18vw;
    object-fit: cover;
}


/* recipe details custom css */


.detail-img {
    margin: 0 auto;
    width: 55%;
    height: 35vw;
    object-fit: cover;
}

.recipe-detail-heading {
    font-size: 2em;
    font-weight: bold;
}
.author {
    font-style: italic;
}

.recipe-detail-card {
    margin-left: 20%;
    margin-right: 20%;
}

h4 {
    font-weight: bold;
    color: #7d807e;
    text-decoration: underline;
}

/* login page */
.img-position-relative {
    position: relative;
}

.login-head {
    background-color: #f1f2f2;
}

.login-head > h1 {
    color: #8fac42;
    margin-top: 10%;
    padding-top: 50px;
}

.login-head > p {
    font-size: 1.4em;
    padding-bottom: 50px;
    margin-bottom: 5%;
}

.login-head a {
    color: #8fac42;
    text-decoration: none;
    font-weight: bold;
}

.login-img {
    position: absolute;
    bottom: 0;
    left: 15px;
    
}

.login {
    margin-bottom: 20%;
}

.login input {
    border: 1px solid #8fac42;
}

/* Registeration page */
.signup {
    margin-bottom: 15%;
}

.signup-img {
    position: absolute;
    bottom: 0;
    right: 15px;
}
.signup label {
    width: 140px;
    display: inline-block;

}

.signup input {
    border: 1px solid #8fac42;
}

.btn-green{
    background-color: #8fac42;
    color: white;
}

/* Logout page */
.logout {
    padding: 50px 0 50px 0;
    margin-top: 10%;
    margin-bottom: 30%;
    background-color: #f1f2f2;
}

.logout h1 {
    font-weight: 900;
    color: #8fac42;
}

/* footer style  */
.footer-line {
    width: 40%;
    margin: 2% auto;
}
.social-media {
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2%;
}


.social-media > li {
    list-style: none;
}


.social-media i {
    font-size: 150%;
    color: #8fac42;
}

@media screen and (min-width: 640px) {
    .card-height {
        width: 100%;
        height: 50vh;
    }

}

/* max widths */



@media screen and (max-width: 800px) {
    .login-img {
        display: none;
    }

    .signup-img {
        display: none;
    }
    
    .social-media {
        width: 40%;
    }

}

@media screen and (max-width: 400px) {
    .login-head > p {
        font-size: 1.2em;
    }

}


@media screen and (max-width: 640px) {
    .about-card {
        justify-content: center;
    }
    
    .card-img-top {
        width: 100%;
        height: 40vw;
       
    }
    .footer-line {
        width: 60%;
    }
    

}


