{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load cloudinary %}

<h1 class="text-center mt-3">Add Your Recipe Below</h1>

<div class="container mt-4 create-form">
    <div class="row">
        <div class="col-md-12 col-lg-8 offset-lg-2">
            {% if user.is_authenticated %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                
                <button type="submit" class="btn btn-green mt-4 mb-4">Submit</button>
                <a href="{% url 'recipes' %} "class="btn btn-warning mt-4 mb-4">Cancel</a>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}