{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load cloudinary %}

<h1 class="text-center">Edit Wine</h1>

<div class="container mt-4 create-form wine-form">
    <div class="row mt-4">
        <div class="col-sm-12 col-lg-6 offset-lg-3 mt-4">
            {% if user.is_authenticated %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                
                <button type="submit" value="Update" class="btn btn-green mt-4">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}