{% extends 'base.html' %}
{% block content %}
<div class="home-background">
    <h1 class="home-heading">The Recipe Blog</h1>
    <div class="box">
        <!-- About section on home page -->
        <h3 class="text-center">ABOUT US</h3>
        <p class="mt-4"> Welcome to The Recipe Blog, This ia a site where you can view and share your favourite recipes with other like minded individuals.
            To see a list of recipes click on the recipe link in the navigation.
            In order to view each recipe, post your own and comment on others, please click on the register button at the top and enter your details to sign up.
             Once you have signed up you will also have a wine page where you can view wines added by other users and also add your own favourite if you wish.
        </p>
    </div>
</div>  

{% endblock %}
