{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-0 mt-4">
                <img src="{{ recipe.image.url }}" class="detail-img" alt="Image from selected recipe">
                <div class="card-body">
                    <h3 class="recipe-detail-heading text-center">{{ recipe.title }}</h5>
                    <p class="card-text text-center author"> Posted by {{ recipe.author }}</p>
                    <div class="recipe-detail-card">
                        <h4>Decription</h4>
                        <p class="card-text"> {{ recipe.description|safe }}</p>
                        <h4>Ingredients</h4>
                        <p class="card-text"> {{ recipe.ingredients|safe }}</p>
                        <h4>Cooking Instructions</h4>
                        <p class="card-text"> {{ recipe.cooking_instructions|safe }}</p>
                    </div>
                </div>
            </div> 
        </div>
    </div> 
</div>
{% endblock %}