{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% block content %}



<h1 class="text-center mt-4"><u>Recipe List</u></h1>

<div class="container">
    {% if user.is_authenticated %}
        <a href="{% url 'add_recipe' %}" class="btn btn-green">Add Recipe</a>
    {% endif %}
    <div class="row">
        {% for recipe in recipe_list %}
        <div class="col-md-6 col-lg-4">
            <div class="card mt-4">
                {% if "placeholder" in recipe.image.url %}
                    <img src="https://res.cloudinary.com/dudp7r482/image/upload/f_webp/v1678298117/default-recipe_bric56.jpg" class="card-img-top" alt="Default image">
                {% else %}
                    <img src="{{ recipe.image.url }}" class="card-img-top" alt="Image from recipe added by a user">
                {% endif %}
                <div class="card-body text-center">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text"> Posted by {{ recipe.author }}</p>
                    <a href="{% url 'recipe_details' recipe.slug %}" class="btn btn-green {% if not user.is_authenticated %} disabled  btn-secondary {% endif %}">Read more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> 
</div>

{% if is_paginated %}
    <div class="pagination justify-content-center mt-4 mb-4">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-dark me-2">&#8592; BACK</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-dark me-2">NEXT &#8594;</a>
        {% endif %}
    </div>
{% endif %}
{% endblock %}

