{% extends 'base.html' %}
{% block content %}

<!-- displays the wine details -->
<div class="container g-0">
    <div class="row mb-4 g-0">
        <div class="col-sm-12 col-lg-6 offset-lg-3">
            <div class="card mt-4">
              <div class="text-center">
                <img src="{{ wine.image.url }}" class="card-img-top wine-img mb-4" alt="Image of a wine added by a user">
                    <h4>{{ wine.name }}</h4>
                    <p class="card-text mb-4"> Posted by: {{ wine.posted_by }}</p>
                    <p class="card-text"> Wine type: {{ wine.type }}</p>
                    <p class="card-text"> Strength: {{ wine.alcohol_precentage}}%</p>
                    <p class="card-text mb-4"> Country Of Origin: {{ wine.country_of_origin }}</p>
                    {% if user.is_authenticated and user == wine.posted_by %}  
                    <a href="{% url 'edit_wine' wine.pk %}" class="btn btn-info mb-4" >Edit</a>
                    <button type="button" class="btn btn-danger mb-4" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>      
                    {% endif %}
                </div>
            </div>
         </div>
    </div>



  
  <!-- This Modal is from bootstrapmodals page-->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-delete">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Wine</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete {{ wine.name }}?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form action="{% url 'delete_wine' pk=wine.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" value="Confirm">Yes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}