{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- <img src="{{ wine.image.url }}" alt="Image of a wine added by a user"> -->
            
            <div class="text-center">
                    <h5">{{ wine.name }}</h5>
                    <p class="card-text"> Wine type: {{ wine.type }}</p>
                    <p class="card-text"> Strength: {{ wine.alcohol_precentage}}%</p>
                    <p class="card-text"> Country Of Origin: {{ wine.country_of_origin }}</p>  
                    <a href="{% url 'edit_wine' wine.pk %}" class="btn btn-green" >Edit</a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Delete</button>      
            </div>
         </div>
    </div>



  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Wine</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to Delete this Wine</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}