{% extends 'base.html' %}
{% block content %}

<h1 class="text-center mt-4"><u>Wine List</u></h1>

<div class="container">
    {% if user.is_authenticated %}
        <a href="{% url 'add_wine' %}" class="btn btn-green">Add A Wine</a>
    {% endif %}
    <div class="row">
        {% for wine in wine_list %}
        <div class="col-md-6 col-lg-4">
            <div class="card mt-4">
                <img src="{{ wine.image.url }}" class="card-img-top" alt="Image of a wine added by a user">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ wine.name }}</h5>
                    <p class="card-text mb-4"> Posted by: {{ wine.posted.by }}</p>
                    <a href="{% url 'wine_details' wine.pk %}" class="btn btn-green">View</a>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div> 
</div>

{% endblock %}